@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* ===== DARK MODE (Mặc định) ===== */
html.dark-theme,
html.dark-theme body {
  background: #0f172a;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* ===== LIGHT MODE ===== */
html.light-theme,
html.light-theme body {
  background: #f8fafc;
  color: #1e293b;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Default body style */
body {
  font-family: Inter, sans-serif;
}